body{
    background-color: #000000;
}

.container{
    width: 100%;
}

nav{
    opacity: 0.5;
}

#signInHeader{
    color: #ffffff;
    margin: 1rem 0;
}
.logo{
    width: 8rem;
    /* height: 4rem; */
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 40%;
}

.signIn{
    background-color: #000000;
    padding: 5rem 7rem;
    /* width: 100%; */

}

.form-group, #exampleCheck1 + .form-check-label{
    color: white;
}

.email-label::after, .password-label::after{
    content: " *";
    color: #ffffff;
}



.form-control{
    width: auto;
}

#email + .email-validation, #password + .password-validation {
    display: none;
    color: #ffa00a;
    font-weight:300 ;

}
/* .password-validation,.email-validation{
    
} */ 

#submit:active, #submit:focus{
    background-color: #E50914;
    color: #ffffff;
}

.sign-in-next{
    text-decoration: none;
    color:#ffffff
}



.btn-primary,.btn:hover{
    background-color: #E50914 ;
    margin: 1rem 0;
    border: none;
    width: 100%;
    
}

.checkboxdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .sign-up,.sign-up:hover,.phone-link,.phone-link:hover{
    text-decoration: none;
    color: #ffffff;
} */

.form-check-label + .form-text .sign-up , .sign-up:hover,.phone-link,.phone-link:hover{
    text-decoration: none;
    color: #ffffff; 

}

.phone-link{
color: gray
}

.signInfooter{
    background-color: #000000;
    padding: 3rem;

}


/* DESKTOP MEDIA QUERIES */
@media (min-width :1000px) {
   

    .signIn{
        width: 100%;
    
    }


    .form-control{
        width: 100%;
    }

    .phone{
        margin-left: 5rem;
       
    }

}



